@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*:focus{
    border-radius: 0;
    outline-color: var(--cyan-600);
    outline-style: dotted;
    outline-width: 1px;
}

::-webkit-scrollbar {
  width: .8rem;
}
::-webkit-scrollbar-track {
  background: #171d24;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: #1A204D;
  border-radius: 25px;
  transition: width 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #075985;
}
